################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApplication1/.vs/WebApplication1/v16
/WebApplication1/WebApplication1/obj
/WebApplication1/.vs/WebApplication1
/WebApplication1/packages
/WebApplication2/WebApplication2/bin
/WebApplication2/WebApplication2/obj/Debug
/WebApplication2/.vs/WebApplication2
